@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 227 83% 94%;
    --foreground: 226 25% 10%;
    --card: 0 0% 100%;
    --card-foreground: 226 25% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 226 25% 10%;
    --primary: 225 73% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 73% 88%;
    --secondary-foreground: 226 25% 10%;
    --muted: 225 73% 92%;
    --muted-foreground: 226 25% 40%;
    --accent: 283 50% 33%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 73% 85%;
    --input: 0 0% 100%;
    --ring: 225 73% 63%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 226 25% 10%;
    --foreground: 227 83% 94%;
    --card: 226 25% 15%;
    --card-foreground: 227 83% 94%;
    --popover: 226 25% 10%;
    --popover-foreground: 227 83% 94%;
    --primary: 225 73% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 226 25% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 226 25% 25%;
    --muted-foreground: 227 83% 80%;
    --accent: 283 50% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 25% 25%;
    --input: 226 25% 25%;
    --ring: 225 73% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
